<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="./../public/lib/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="./../public/lib/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="./../public/admin/css/layout.css">

    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="./../public/lib/layui/layui.js"></script>
</head>

<body class="layui-layout-body">
    <div class="wrapper">
        <div class="layui-layout layui-layout-admin">
            <!-- header 头部区域 -->
            <div class="header">
                <div class="layui-header">
                    <div class="layui-logo">后台管理</div>
                    <ul class="layui-nav layui-layout-left">
                        <li class="layui-nav-item"><a href="/admin">后台信息</a></li>
                        <li class="layui-nav-item"><a href="/admin/goods">商品管理</a></li>
                        <li class="layui-nav-item"><a href="/admin/user">用户管理</a></li>
                        <li class="layui-nav-item">
                            <a href="javascript:;">其它系统</a>
                            <dl class="layui-nav-child">
                                <dd><a href="">邮件管理</a></dd>
                                <dd><a href="">消息管理</a></dd>
                                <dd><a href="">授权管理</a></dd>
                            </dl>
                        </li>
                    </ul>
                    <ul class="layui-nav layui-layout-right">
                        <li class="layui-nav-item">
                            <a href="javascript:;" data-id="{{ userInfo.userid }}">
                                <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                                <span>{{ userInfo.username }}</span>
                            </a>
                            <dl class="layui-nav-child">
                                <dd><a href="">基本资料</a></dd>
                                <dd><a href="">安全设置</a></dd>
                            </dl>
                        </li>
                        <li class="layui-nav-item"><a href="javascript:;" id="loginOut">退出</a></li>
                    </ul>
                </div>
            </div>

            <!-- main 主体区域-->
            <div class="main">
                <!-- side 左侧菜单-->
                <div class="side">
                    <div class="layui-side layui-bg-black">
                        <div class="layui-side-scroll">
                            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                                <li class="layui-nav-item layui-nav-itemed">
                                    <a href="javascript:;">系统设置</a>
                                    <dl class="layui-nav-child">
                                        <dd><a href="javascript:;">列表一</a></dd>
                                        <dd><a href="javascript:;">列表二</a></dd>
                                        <dd><a href="javascript:;">列表三</a></dd>
                                        <dd><a href="">超链接</a></dd>
                                    </dl>
                                </li>
                                <li class="layui-nav-item">
                                    <a href="javascript:;">用户管理</a>
                                    <dl class="layui-nav-child">
                                        <dd><a href="/admin/user">用户列表</a></dd>
                                        <dd><a href="javascript:;">列表二</a></dd>
                                        <dd><a href="javascript:;">列表三</a></dd>
                                        <dd><a href="">超链接</a></dd>
                                    </dl>
                                </li>
                                <li class="layui-nav-item">
                                    <a href="javascript:;">分类管理</a>
                                    <dl class="layui-nav-child">
                                        <dd><a href="javascript:;">分类列表</a></dd>
                                        <dd><a href="javascript:;">列表二</a></dd>
                                        <dd><a href="">超链接</a></dd>
                                    </dl>
                                </li>
                                <li class="layui-nav-item">
                                    <a href="javascript:;">解决方案</a>
                                    <dl class="layui-nav-child">
                                        <dd><a href="javascript:;">列表一</a></dd>
                                        <dd><a href="javascript:;">列表二</a></dd>
                                        <dd><a href="">超链接</a></dd>
                                    </dl>
                                </li>
                                <li class="layui-nav-item"><a href="/" target="_blank">前台首页</a></li>
                                <li class="layui-nav-item"><a href="/">系统信息</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- content 右侧内容区域 -->
                <div class="content">
                    <div class="layui-body">
                        {%block content %} {% endblock %}
                    </div>
                </div>
            </div>

            <!-- footer 底部区域-->
            <div class="footer">
                <div class="layui-footer">
                    © Blooo.cn - 小掌部落 版权所有
                </div>
            </div>
        </div>
    </div>

    <!-- js -->
    <script src="./../public/admin/js/layout.js"></script>
    <script src="./../public/layout/loginout.js"></script>
</body>

</html>